.embeddedServiceHelpButton .helpButton .uiButton {
  background-color: #e30613;
  font-family: "Open Sans", sans-serif;
}
.embeddedServiceHelpButton .helpButton .uiButton:focus {
  outline: 1px solid #e30613;
}
.embeddedServiceHelpButton .helpButton .uiButton.helpButtonDisabled {
  display: none;
}
